<%= widget_wrapper do |widget| %>
  <%= widget.with_body do %>
    <table>
      <tr>
        <td style="width: 130px; align: right;"><%= Version.human_attribute_name(:estimated_hours) %></td>
        <td style="width: 240px; align: right;" class="total-hours"><%= helpers.l_hours(version.estimated_hours) %></td>
      </tr>
      <% if User.current.allowed_in_project?(:view_time_entries, project) %>
        <tr>
          <td style="width: 130px; align: right;"><%= t(:label_spent_time) %></td>
          <td style="width: 240px; align: right;" class="total-hours"><%= helpers.l_hours(version.spent_hours) %></td>
        </tr>
      <% end %>
    </table>
  <% end %>
<% end %>
