<%= turbo_frame_tag "activity_menu", target: "_top" do %>
  <%= form_tag(polymorphic_url([@project, :activities]), method: :get) do %>
    <fieldset class="form--fieldset sidebar">
      <legend class="form--fieldset-legend"><%= t(:description_filter) %></legend>
      <p>
        <%= hidden_field_tag "event_types[]" %>
        <% @activity.event_types.excluding("project_details").sort_by { |type| t("activity.filter.#{type.singularize}") }.each do |t| %>
          <%= check_box_tag "event_types[]", t, @activity.scope.include?(t), id: "event_types_#{t}" %>
            <%= label_tag "event_types_#{t}", t("activity.filter.#{t.singularize}") %>
          <br>
        <% end %>
      </p>
      <p>
        <% if @activity.event_types.include?("project_details") %>
          <%= check_box_tag "event_types[]", "project_details", @activity.scope.include?("project_details"), id: "event_types_project_details" %>
          <%= label_tag "event_types_project_details", t("activity.filter.project_details") %>
          <br>
        <% end -%>
        <% if @project && @project.descendants.active.any? %>
          <%= hidden_field_tag "with_subprojects", 0, id: nil %>
          <%= check_box_tag "with_subprojects", 1, @with_subprojects, id: "with_subprojects" %>
          <%= label_tag "with_subprojects", t("activity.filter.subproject") %>
        <% end %>
      </p>
      <%= hidden_field_tag("user_id", params[:user_id]) if params[:user_id].present? %>
      <%= hidden_field_tag("from", params[:from]) if params[:from].present? %>
      <p><%= submit_tag t(:button_apply),
                        class: "button -small -primary",
                        name: nil %></p>
    </fieldset>
  <% end %>
<% end %>
