<div class="widget-box--upsell-block">
  <div class="widget-box--blocks--upsell-container">
    <div class="widget-box--blocks--upsell-text">
      <%=
        render(Primer::OpenProject::FlexLayout.new(align_items: :center, mb: 3)) do |title_flex|
          title_flex.with_column do
            render(
              Primer::Beta::Octicon.new(
                icon: :"op-enterprise-addons",
                size: :medium,
                classes: "upsell-colored"
              )
            )
          end

          title_flex.with_column(ml: 2) do
            render(Primer::Beta::Heading.new(tag: :h2)) do
              if @trial_key
                I18n.t("ee.trial.token_sent")
              else
                t("ee.upsell.plans_title")
              end
            end
          end
        end
      %>

      <div class="widget-box--blocks--upsell-description">
        <p>
          <% if @trial_key %>
            <%= I18n.t(
                  "ee.trial.confirmation_info",
                  date: helpers.format_date(@trial_key.created_at),
                  email: @trial_key.data[:email]
                ) %>
          <% else %>
            <%= link_translate("ee.upsell.homescreen_description", links: { enterprise_url: }) %>
          <% end %>
        </p>
        <p>
          <% if @trial_key %>
            <%= t("ee.trial.confirmation_subline") %>
          <% else %>
            <%= t("ee.upsell.homescreen_subline") %>
          <% end %>
        </p>
      </div>

      <%= render EnterpriseEdition::UpsellButtonsComponent.new(nil, show_buy_now: true) %>
    </div>
    <div class="widget-box--blocks--upsell-image"
         style="background-image: url(<%= image_path("enterprise/homescreen.png") %>)"></div>
  </div>
</div>
