<%= content_tag :div,
                data: {
                  controller: "disable-when-checked password-force-change",
                  "admin--users-target": "passwordFields"
                },
                hidden: !@user.change_password_allowed? do %>
  <% assign_random_password_enabled = params[:user] &&
    params[:user][:assign_random_password] %>
  <div class="form--field">
    <%= styled_label_tag "user_assign_random_password",
                         I18n.t("user.assign_random_password") %>
    <div class="form--field-container">
      <%= styled_check_box_tag "user[assign_random_password]",
                               "1",
                               assign_random_password_enabled,
                               data: {
                                 "disable-when-checked-target": "cause",
                                 "password-force-change-target": "assignRandomPassword"
                               } %>
    </div>
  </div>

  <% unless OpenProject::Configuration.disable_password_choice? %>
    <div class="form--field" data-controller="password-requirements">
      <%= f.password_field :password,
                           required: @user.new_record?,
                           disabled: assign_random_password_enabled,
                           data: {
                             "disable-when-checked-target": "effect",
                             "password-requirements-target": "passwordInput"
                           },
                           container_class: "-middle" %>
      <div class="form--field-instructions">
        <%= password_complexity_requirements %>
      </div>
    </div>
    <div class="form--field">
      <%= f.password_field :password_confirmation,
                           required: @user.new_record?,
                           disabled: assign_random_password_enabled,
                           data: {
                             "disable-when-checked-target": "effect"
                           },
                           container_class: "-middle" %>
    </div>
  <% end %>

  <div class="form--field send-information">
    <%= styled_label_tag "send_information", t(:label_send_information) %>
    <div class="form--field-container">
      <%= styled_check_box_tag(
            "send_information",
            "1",
            false,
            data: { "password-force-change-target": "sendInformationCheckbox" }
          ) %>
    </div>
    <div class="form--field-instructions">
      <%= t("users.send_information_hint") %>
    </div>
  </div>

  <div class="form--field">
    <%= f.check_box :force_password_change,
                    disabled: assign_random_password_enabled,
                    data: { "password-force-change-target": "forceChangeCheckbox" } %>
    <div class="form--field-instructions">
      <%= t("users.force_password_change_hint") %>
    </div>
  </div>
<% end %>
