<% html_title(t(:label_my_account), t("two_factor_authentication.devices.confirm_device")) -%>

<%= styled_form_tag(
      confirm_path,
      method: :post,
      id: "login-form",
      class: "form -bordered",
      autocomplete: "off",
      data: {
        turbo: false
      }
    ) do %>
  <h2><%= t("two_factor_authentication.devices.confirm_device") %></h2>
  <p><%= t("two_factor_authentication.devices.text_confirm_to_complete_html", identifier: @device.identifier) %></p>
  <hr class="form--separator">
  <%= back_url_hidden_field_tag %>
  <div class="form--field -required -wide-label">
    <%= styled_label_tag "otp", t(:field_otp) %>
    <div class="form--field-container">
      <%= styled_text_field_tag "otp", nil, required: true, autocomplete: "off", size: 6, maxlength: 6, autofocus: true %>
    </div>
  </div>
  <div class="login-form--footer">
    <input type="submit" name="login" value="<%= t "button_continue" %>" class="button -primary button_no-margin">
  </div>
<% end %>
