<table <%= placeholder_table_styles %>>
  <tr>
    <%= placeholder_cell("20px", vertical: false) %>
  </tr>
</table>

<table <%= placeholder_table_styles(width: "100%", style: "width:100%;max-width:700px;") %>>
  <tr>
    <%= placeholder_cell("12px", vertical: true) %>
    <td>
      <%= render partial: "mailer/mailer_header",
                 locals: {
                   summary: reminder_summary_text,
                   button_href: notifications_url,
                   button_text: I18n.t(:"mail.notification.center"),
                   user: @user
                 } %>

      <%= render layout: "mailer/notification_row",
                 locals: {
                   work_package: @notification.resource,
                   unique_reasons: [@notification.reason],
                   show_count: true,
                   count: 1,
                   user: @user
                 } do %>
        <table <%= placeholder_table_styles %>>
          <tr>
            <td style="line-height: 24px; font-size: 14px; white-space: normal;">
              <span style="color: #878787;">
                <%= reminder_timestamp_text %>
              </span>
              <%= reminder_note_text %>
            </td>
          </tr>
        </table>
      <% end %>

      <%= render layout: "mailer/notification_settings_table",
                 locals: {
                   button_url: my_notifications_url(tab: "reminders"),
                   button_text: I18n.t(:"mail.notification.settings")
                 } do %>
      <% end %>

      <table>
        <tr>
          <%= placeholder_cell("40px", vertical: false) %>
        </tr>
      </table>
    </td>
    <%= placeholder_cell("12px", vertical: true) %>
  </tr>
</table>
