<%#-- copyright
OpenProject is an open source project management software.
Copyright (C) the OpenProject GmbH

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License version 3.

OpenProject is a fork of ChiliProject, which is a fork of Redmine. The copyright follows:
Copyright (C) 2006-2013 Jean-Philippe Lang
Copyright (C) 2010-2013 the ChiliProject Team

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
as published by the Free Software Foundation; either version 2
of the License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301, USA.

See COPYRIGHT and LICENSE files for more details.

++#%>
<% html_title(t(:label_budget_plural)) %>

<%=
  render(Primer::OpenProject::PageHeader.new) do |header|
    header.with_title { t(:label_budget_plural) }
    header.with_breadcrumbs(
      [{ href: project_overview_path(@project.id), text: @project.name },
       t(:label_budget_plural)]
    )
  end
%>
<%=
  render(Primer::OpenProject::SubHeader.new) do |subheader|
    subheader.with_action_button(
      scheme: :primary,
      leading_icon: :plus,
      label: I18n.t(:button_add_budget),
      data: { test_selector: "budget-create-button" },
      tag: :a,
      href: new_projects_budget_path(@project)
    ) do
      t(:label_budget)
    end
  end
%>

<% if @budgets.empty? %>
  <%= no_results_box %>
<% else %>
<%= render partial: "list", locals: { budgets: @budgets } %>
<%= pagination_links_full @budgets %>
<% end %>

<p class="other-formats">
<%= t(:label_export_to) %>
<!--
<span><%= link_to "Atom", { query_id: @query, format: "atom", key: User.current.rss_key }, class: "feed" %></span>
-->
<span><%= link_to "CSV", { format: "csv" }, class: "csv" %></span>
<!--
<span><%= link_to "PDF", { format: "pdf" }, class: "pdf" %></span>
-->
</p>
