<% html_title(t(:label_administration), t("ldap_groups.synchronized_groups.plural")) -%>

<%=
  render Primer::OpenProject::PageHeader.new do |header|
    header.with_title { I18n.t("ldap_groups.synchronized_groups.plural") }
    header.with_breadcrumbs(
      [{ href: admin_index_path, text: t(:label_administration) },
       { href: admin_settings_authentication_path, text: t(:label_authentication) },
       I18n.t("ldap_groups.synchronized_groups.plural")]
    )
  end
%>

<%= render(Primer::OpenProject::SubHeader.new) do |subheader|
      subheader.with_action_menu(leading_icon: :plus,
                                 trailing_icon: :"triangle-down",
                                 label: I18n.t(:button_add),
                                 anchor_align: :end,
                                 button_arguments: { scheme: :primary,
                                                     disabled: !EnterpriseToken.allows_to?(:ldap_groups),
                                                     aria: { label: I18n.t(:button_add) },
                                                     test_selector: "op-admin-synchronized-groups--button-new" }) do |menu|
        menu.with_item(
          label: I18n.t("ldap_groups.synchronized_filters.singular"),
          test_selector: "op-admin-synchronized-groups--new-filters",
          href: new_ldap_groups_synchronized_filter_path
        )

        menu.with_item(
          label: I18n.t("ldap_groups.synchronized_groups.singular"),
          test_selector: "op-admin-synchronized-groups--new-groups",
          href: new_ldap_groups_synchronized_group_path
        )
      end
    end %>

<%= render EnterpriseEdition::BannerComponent.new(
  :ldap_groups,
  variant: :inline
  ) %>

<div class="op-toast -info">
  <div class="op-toast--content">
    <strong><%= t("note") %></strong>
    <%=
      link_translate(
        "ldap_groups.synchronized_groups.help_text_html",
        links: {
          docs_url: %i[sysadmin_docs ldap_group_sync]
        }
      )
    %>
  </div>
</div>

<section class="admin--edit-section">
  <h3 class="form--section-title"><%= t("ldap_groups.synchronized_filters.plural") %></h3>
  <%= render ::LdapGroups::SynchronizedFilters::TableComponent.new(rows: @filters) %>
</section>

<section class="admin--edit-section">
  <h3 class="form--section-title"><%= t("ldap_groups.synchronized_groups.plural") %></h3>
  <%= render ::LdapGroups::SynchronizedGroups::TableComponent.new(rows: @groups) %>
</section>
