<%=
  render Primer::OpenProject::PageHeader.new do |header|
    header.with_title { t("bcf.bcf_xml.import_title") }
    header.with_breadcrumbs(
      [{ href: project_overview_path(@project.id), text: @project.name },
       { href: defaults_bcf_project_ifc_models_path(@project.identifier), text: I18n.t(:"bcf.label_bcf") },
       t("bcf.bcf_xml.import_title")]
    )
  end
%>

<%= form_tag({ action: :prepare_import }, multipart: true, method: :post) do %>

  <div class="form--field">
    <%= styled_label_tag "bcf_file", t("bcf.bcf_xml.xml_file") %>
    <div class="form--field-container">
      <%= styled_file_field_tag :bcf_file, required: true %>
    </div>
    <div class="form--field-instructions">
      <p><%= t("bcf.bcf_xml.import.description") %></p>
    </div>
  </div>

  <%= submit_tag t("bcf.bcf_xml.import.button_prepare"), class: "button -primary" %>
  <%= link_to t(:button_cancel),
              defaults_bcf_project_ifc_models_path(@project),
              class: "button" %>
<% end %>
