<div class="FormControl-advanced-check-group-wrap">
  <%= content_tag(:fieldset, **@input.input_arguments) do %>
    <% if @input.label %>
      <%= content_tag(:legend, **@input.label_arguments) do %>
        <%= @input.label %>
      <% end %>
    <% end %>

    <%= render Primer::ConditionalWrapper.new(condition: @input.input_arguments[:caption].present?, trim: true, mb: 2) do %>
      <%= render(Caption.new(input: @input)) %>
    <% end %>

    <%= render(SpacingWrapper.new) do %>
      <div class="FormControl-advanced-check-group-list">
        <% @input.check_boxes.each do |check_box| %>
          <%= render(check_box.to_component) %>
        <% end %>
      </div>
    <% end %>
  <% end %>
  <div class="mt-2">
    <%= render(ValidationMessage.new(input: @input)) %>
  </div>
</div>
