<%= content_tag(:div, class: "FormControl-advanced-checkbox-wrap", hidden: @input.hidden?) do %>
  <%= builder.label(@input.name, **@input.label_arguments) do %>
    <div class="FormControl-advanced-checkbox-content">
      <%= builder.check_box(@input.name, @input.input_arguments, checked_value, unchecked_value) %>
      <div>
        <div class="FormControl-advanced-checkbox-label-text"><%= @input.label %></div>
        <% if @input.form_control? %>
          <div class="mt-1">
            <%= render(Caption.new(input: @input)) %>
          </div>
        <% end %>
      </div>
      <% if @input.icon.present? %>
        <%=
          inline_svg_tag(
            @input.icon,
            class: "FormControl-advanced-checkbox-icon",
            aria_hidden: true
          )
        %>
      <% end %>
    </div>
  <% end %>
<% end %>
