<%= content_tag(:div, class: "FormControl-advanced-radio-wrap", hidden: @input.hidden?) do %>
  <%= builder.label(@input.name, value: @input.value, **@input.label_arguments) do %>
    <div class="FormControl-advanced-radio-content">
      <%= builder.radio_button(@input.name, @input.value, **@input.input_arguments) %>
      <div>
        <div class="FormControl-advanced-radio-label-text"><%= @input.label %></div>
        <% if @input.form_control? %>
          <div class="mt-1">
            <%= render(Caption.new(input: @input)) %>
          </div>
        <% end %>
      </div>
      <% if @input.icon.present? %>
        <%=
          inline_svg_tag(
            @input.icon,
            class: "FormControl-advanced-radio-icon",
            aria_hidden: true
          )
        %>
      <% end %>
    </div>
  <% end %>
<% end %>
