<%#-- copyright
OpenProject is an open source project management software.
Copyright (C) the OpenProject GmbH

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License version 3.

OpenProject is a fork of ChiliProject, which is a fork of Redmine. The copyright follows:
Copyright (C) 2006-2013 Jean-Philippe Lang
Copyright (C) 2010-2013 the ChiliProject Team

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
as published by the Free Software Foundation; either version 2
of the License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301, USA.

See COPYRIGHT and LICENSE files for more details.

++#%>
<% content_for :header_tags do %>
  <%= nonced_javascript_include_tag OpenProject::Static::Links.url_for(:chargebee),
                                    "data-cb-site": OpenProject::Configuration.enterprise_chargebee_site %>
<% end %>

<%= render EnterpriseTrials::BannerComponent.new %>

<%=
  render(Primer::Beta::Subhead.new) do |subhead|
    subhead.with_heading(size: :medium) { EnterpriseToken.human_attribute_name(:encoded_token) }
    subhead.with_description { I18n.t("ee.upsell.already_have_token") }
  end
%>

<%=
  render(Primer::OpenProject::FlexLayout.new(mb: 1)) do |button_row|
    button_row.with_column do
      button_title = t("admin.enterprise.create_dialog.title")
      render(
        Primer::Beta::Button.new(
          tag: :a,
          scheme: :primary,
          mobile_label: button_title,
          mobile_icon: :plus,
          size: :medium,
          href: new_enterprise_token_path,
          aria: { label: button_title },
          role: "button",
          data: {
            turbo_stream: true
          },
          title: button_title
        )
      ) do |button|
        button.with_leading_visual_icon(icon: :plus)
        button_title
      end
    end
  end
%>

<div class="info-boxes upsell-benefits">
  <h3 class="info-boxes--title -no-border"><%= t("ee.upsell.benefits.description") %></h3>

  <div class="info-boxes--container">
    <div class="info-boxes--item">
      <%= image_tag "installation_alerts.svg",
                    class: "info-boxes--teaser-image",
                    title: t("ee.upsell.benefits.installation"),
                    alt: t("ee.upsell.benefits.installation") %>
      <h4 class="info-boxes--item-title"><%= t("ee.upsell.benefits.installation") %></h4>
      <div class="info-boxes--item-content">
        <p><%= t("ee.upsell.benefits.installation_text") %></p>
        <ul class="widget-box--arrow-links">
          <li>
            <%= static_link_to :upsell_benefits_installation %>
          </li>
        </ul>
      </div>
    </div>
    <div class="info-boxes--item">
      <%= image_tag "professional_support.svg",
                    class: "info-boxes--teaser-image",
                    title: t("ee.upsell.benefits.professional_support"),
                    alt: t("ee.upsell.benefits.professional_support") %>
      <h4 class="info-boxes--item-title"><%= t("ee.upsell.benefits.professional_support") %></h4>
      <div class="info-boxes--item-content">
        <p><%= t("ee.upsell.benefits.professional_support_text") %></p>
        <ul class="widget-box--arrow-links">
          <li>
            <%= static_link_to :upsell_benefits_support %>
          </li>
        </ul>
      </div>
    </div>
    <div class="info-boxes--item">
      <%= image_tag "enterprise-add-on.svg",
                    class: "info-boxes--teaser-image",
                    title: t("ee.upsell.benefits.premium_features"),
                    alt: t("ee.upsell.benefits.premium_features") %>
      <h4 class="info-boxes--item-title"><%= t("ee.upsell.benefits.premium_features") %></h4>
      <div class="info-boxes--item-content">
        <p><%= t("ee.upsell.benefits.premium_features_text") %></p>
        <ul class="widget-box--arrow-links">
          <li>
            <%= static_link_to :upsell_benefits_features %>
          </li>
        </ul>
      </div>
    </div>
    <div class="info-boxes--item">
      <%= image_tag "security_alerts.svg",
                    class: "info-boxes--teaser-image",
                    title: t("ee.upsell.benefits.high_security"),
                    alt: t("ee.upsell.benefits.high_security") %>
      <h4 class="info-boxes--item-title"><%= t("ee.upsell.benefits.high_security") %></h4>
      <div class="info-boxes--item-content">
        <p><%= t("ee.upsell.benefits.high_security_text") %></p>
        <ul class="widget-box--arrow-links">
          <li>
            <%= static_link_to :upsell_benefits_security %>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
