<%#-- copyright
OpenProject is an open source project management software.
Copyright (C) the OpenProject GmbH

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License version 3.

OpenProject is a fork of ChiliProject, which is a fork of Redmine. The copyright follows:
Copyright (C) 2006-2013 Jean-Philippe Lang
Copyright (C) 2010-2013 the ChiliProject Team

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
as published by the Free Software Foundation; either version 2
of the License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301, USA.

See COPYRIGHT and LICENSE files for more details.

++#%>

<div class="form--field -required">
  <%= f.select :storage_id,
               @available_storages.map { |storage| [storage.typed_label, storage.id] },
               class: "-bold",
               selected: @available_storages.first.id.to_s,
               container_class: "-slim" %>
  <% if User.current.admin? %>
      <span class="form--field-instructions">
        <%= t(:"storages.instructions.setting_up_additional_storages") %>
        <%= link_to "#{t(:label_administration)} / #{t(:project_module_storages)}", controller: "/storages/admin/storages", action: :index %>
        .
      </span>
  <% end %>
</div>

<div class="form--field">
  <%=
      render Primer::Beta::Button.new(scheme: :primary, type: :submit, mr: 2) do |button|
        button.with_leading_visual_icon(icon: :check)
        submit_button_label
      end
  %>
  <%=
    render Primer::Beta::Button.new(
      tag: :a,
      href: external_file_storages_project_settings_project_storages_path(@project)
    ) do |button|
      button.with_leading_visual_icon(icon: :x)
      t(:button_cancel)
    end
  %>
</div>
