<%#-- copyright
OpenProject is an open source project management software.
Copyright (C) the OpenProject GmbH

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License version 3.

OpenProject is a fork of ChiliProject, which is a fork of Redmine. The copyright follows:
Copyright (C) 2006-2013 Jean-Philippe Lang
Copyright (C) 2010-2013 the ChiliProject Team

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
as published by the Free Software Foundation; either version 2
of the License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301, USA.

See COPYRIGHT and LICENSE files for more details.

++#%>
<% permissions.each do |mod, mod_permissions| %>
  <% module_name = mod.blank? ? Project.model_name.param_key : l_or_humanize(mod, prefix: "project_module_").downcase.tr(" ", "_") %>
  <% module_title = show_global_role && mod.blank? ? t(:label_global) : permission_header_for_project_module(mod) %>
  <% section_id = "#{'global-' if show_global_role}#{module_name.parameterize}-section" %>

  <%= render Primer::OpenProject::CollapsibleSection.new(id: section_id, display: :block, mb: 3) do |section| %>
    <% section.with_title(tag: :h3) do %>
      <%= module_title %>
    <% end %>

    <% if I18n.exists?("permission_header_explanation", scope: mod) %>
      <% section.with_caption do %>
        <%= I18n.t("permission_header_explanation", scope: mod) %>
      <% end %>
    <% end %>

    <% section.with_additional_information do %>
      <%=
        check_all_links section_id do |links|
          links.with_check_all_button do |button|
            button.with_tooltip(text: t(".section_check_all_label", module: module_title))
            t(:button_check_all)
          end

          links.with_uncheck_all_button do |button|
            button.with_tooltip(text: t(".section_uncheck_all_label", module: module_title))
            t(:button_uncheck_all)
          end
        end
      %>
    <% end %>

    <% section.with_collapsible_content(classes: "-columns-2", data: { controller: "checkable" }) do %>
      <% Array(mod_permissions).each do |permission| %>
        <% next if permission.global? && !show_global_role %>
        <div class="form--field">
          <div class="form--field-container">
            <label class="form--label-with-check-box">
              <%= styled_check_box_tag "role[permissions][]",
                                       permission.name,
                                       (role.permissions && role.permissions.include?(permission.name)),
                                       data: { checkable_target: "checkbox" } %>
              <%= t(:"permission_#{permission.name}") %>
            </label>
          </div>
          <div class="form--field-instructions -labeled-checkbox">
            <%= t(:"permission_#{permission.name}_explanation", default: nil) %>
          </div>
        </div>
      <% end %>
    <% end %>
  <% end %>
<% end %>
<%= hidden_field_tag "role[permissions][]", "" %>
