<%= widget_wrapper do %>
  <% if teaser_exists? %>
    <div class="op-new-features">
      <p class="widget-box--additional-info">
        <%= new_features_header %>
      </p>
      <div class="widget-box--description">
        <div>
          <p><%= new_features_title %></p>
          <ul class="widget-box--arrow-links">
            <% new_features.each do |line| %>
              <li><%= line %></li>
            <% end %>
          </ul>
        </div>
        <% if has_image? %>
          <img
            class="widget-box--teaser-image op-new-features--teaser-image"
            role="presentation"
            src="<%= asset_path(feature_teaser_image) %>"
            alt="">
        <% end %>
      </div>

      <%= helpers.static_link_to :current_release_notes, label: learn_more_link_text %>
    </div>
  <% else %>
    <%=
      render(Primer::Beta::Text.new(mb: 3)) do
        I18n.t("homescreen.blocks.new_features.missing")
      end
    %>
  <% end %>
<% end %>
